@import url('https://fonts.googleapis.com/css?family=Roboto');


.landingText {
    margin-top: 30%;
    margin-bottom: 30%;
}

.header-color {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.initial {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: white;
}

.navbar-dark .navbar-nav .nav-link:visited {
    color: white;
}

.navbar-brand {
    color: white;
}

a:hover {
    text-decoration: none;

}

hr {
  height: 2px;
}

.titleHr {
    width: 30%;
    background-color: rgb(242, 71, 89);
}

.landingHr {
    background-color: white;
    width: 40%;
}

.bgLight {
    background-color: rgb(221, 221, 221);
}


.bgDark {
    background-color: rgb(238, 238, 238);
}

.aTab {
    background-image: url("./tab_images/android_logo.png");
    background-position: center;
}

.wTab {
    background-image: url("./tab_images/web.png");
    background-position: center;
}

.pTab {
    background-image: url("./tab_images/python.png");
    background-position: center;
    background-repeat: no-repeat;
}


.aboutWrapper {
  width: 80%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.aboutText h4 {
  font-size: 12pt;
}


#aboutTitle {
    text-align: center;
}

.contactIconContainer {
  float: left;
}

.icons {
  text-align: center;
  margin-left: -11px;
}

.myPic {
    width: 200px;
    float: left;
    margin-right: 10px;

}

.fab {
  padding: 5px;
  color: black;
}

.fas {
  padding: 5px;
  color: black;
}

.proWrapper {
  width: 87%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.proBorder {
    border:solid rgb(221, 221, 221);
}

#proTitle {
    text-align: center;
}

.skillsWrapper {
  width: 80%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.skillsImg {
  width: 100px;
  padding: 10px;
}

.skillsHr {
  background-color: red;
  width: 80%;
  margin-left: -5px;
}

#skills {
  text-align: center;
}

.skills h4 {
  padding-top: 5px;
}

.resWrapper {
    width: 80%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.resWrapper h1 {
    text-align: center;
}
