@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
  font-family: 'Roboto', sans-serif;
}

.root {
  margin-bottom: 10%;
}

.landingText {
    margin-top: 30%;
}

.header-color {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.initial {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    text-align: center;
    height: 900px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-brand {
    color: white;
}

.aboutWrapper {
  margin-top: 3%;
  width: 50%;
}


.aboutText h4 {
  font-size: 12pt;
}

.contactIconContainer {
  float: left;
}

.icons {
  text-align: center;
}

.myPic {
    width: 250px;
    float: left;
    margin-right: 10px;
}


.fab {
  padding: 5px;
  color: black;
}

.fas {
  padding: 5px;
  color: black;
}
